@import "tailwindcss";
@import "highlight.js/styles/github.css";

:root {
  --background: oklch(0.9818 0.0054 95.0986);
  --foreground: oklch(0.3438 0.0269 95.7226);
  --primary: oklch(0.6171 0.1375 39.0427);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9245 0.0138 92.9892);
  --secondary-foreground: oklch(0.4334 0.0177 98.6048);
  --muted: oklch(0.9341 0.0153 90.239);
  --muted-foreground: oklch(0.6059 0.0075 97.4233);
  --accent: oklch(0.9245 0.0138 92.9892);
  --accent-foreground: oklch(0.2671 0.0196 98.939);
  --destructive: oklch(0.1908 0.002 106.5859);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8847 0.0069 97.3627);
  --ring: oklch(0.6171 0.1375 39.0427);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  img {
    @apply my-6 rounded;
  }

  code,
  pre {
    @apply bg-muted relative rounded font-mono text-sm font-semibold;
  }

  pre {
    @apply my-6 overflow-x-auto rounded-lg;
  }

  h1 {
    @apply scroll-m-20 text-center text-3xl font-extrabold tracking-tight text-balance sm:text-4xl;
  }

  h2 {
    @apply mt-6 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply mt-6 scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply mt-6 scroll-m-20 text-xl font-semibold tracking-tight;
  }

  p {
    @apply text-sm leading-7 text-balance [&:not(:first-child)]:mt-6;
  }

  a {
    @apply text-sm underline underline-offset-4;
  }

  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  ul {
    @apply my-6 ml-6 list-disc text-sm;
  }

  ol {
    @apply my-6 ml-6 list-decimal text-sm;
  }

  li {
    @apply text-sm leading-7;
  }
}
